[user]
    name = qiz-li
    email = 47799695+qiz-li@users.noreply.github.com
    signingKey = qiz-li
[core]
    excludesfile = ~/.gitignore
[commit]
    gpgsign = true
[init]
    defaultBranch = main
# WSL only, cache https credentials 
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
