# Zsh
# ---

zsh/.zsh_history
zsh/.zsh_sessions/

# Device-based local config
zsh/local.zsh

# Neovim
# ------

# Plugins & themes
nvim/autoload/plug.vim
nvim/autoload/plugged

# Netrw file explorer
NetrwTreeListing
nvim/.netrwhist

# Spell check
nvim/spell/
