# Ignore custom Zsh plugins & themes
# We will install them in our install script
zsh/plugins
zsh/themes

# Same with Neovim plugins
# We will install them later
nvim/autoload/plug.vim
nvim/autoload/plugged

# NERDTree history file
nvim/.netrwhist