# Zsh
# ---

zsh/.zsh_history
zsh/.zsh_sessions/
.zshrc.zwc

# Zsh completion files
zsh/.zcompdump

# Device-based local config
zsh/local.zsh

# Neovim
# ------

# Plugin lock file
nvim/lazy-lock.json

# Netrw file explorer
NetrwTreeListing
nvim/.netrwhist

# Spell check
nvim/spell/
